body {
    background:url(/images/background.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position:50% 50%;
    }

.content-wrap{
  opacity:0.8;
}

.main-inner{
}

.sidebar-inner{
  background: rgba(255,255,255,0.7) none repeat scroll !important;
}

.head-inner{
  background: rgba(255,255,255,0.8);
}

.popup{
  opacity:0.8;
}

.post-block{
    background: rgba(255,255,255,0.8) none repeat scroll !important;
}

//主标题颜色
.brand{
    color: #528B8B
}
//副标题颜色
.site-subtitle{
    color: #528B8B
}